body {
    text-align: center;
    background-color: rgb(93,219,149);
}


.container {
    display: block;
    width: 50%;
    margin: auto;
}


.tile{
    margin: 25px;
    display: inline-block;
    height: 200px;
    width: 200px;
    border: 10px solid black;
    border-radius: 20%;
}

#start {
    background-color: rgb(236,244,224); /* Green */
    border: 10px solid black;
    border-radius: 0%;
    font-family: 'Press Start 2P', cursive;
    color: rgb(9,57,108);
    padding: 15px 15px;
    text-align: center;
    display: inline-block;
    font-size: 2rem;
}

#green{
    background-color: green;
}

#red{
    background-color: red;
}

#yellow{
    background-color: yellow;
}

#blue{
    background-color: blue;
}

h3{
    display: inline-block;
    font-family: 'Press Start 2P', cursive;
    font-size: 1rem;
    margin:  3%;
    color: rgb(9,57,108);
}

#message{
    font-family: 'Press Start 2P', cursive;
    font-size: 3rem;
    margin:  3%;
    color: rgb(9,57,108);
}

label {
    font-family: 'Press Start 2P', cursive;
    font-size: 1rem;
    color: rgb(9,57,108);
}